* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    margin: 0 auto;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

#heading {
    text-align: center;
}

h2 {
    color: rgb(62, 120, 59);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
}

#heading p {
    margin-top: 1%;
    font-style: italic;
    font-weight: lighter;
    font-size: .9rem;
}

#user-adder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
}

#inputUserName {
    width: 60%;
    font-size: 1rem;
    border: 2px solid rgb(62, 120, 59);
    padding: 2%;
    margin: 0%;
    box-sizing: border-box;
}

#inputUserName:focus {
    outline: none;
}

.ctl-button {
    border: none;
    background-color: rgb(62, 120, 59);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.ctl-button:hover, .ctl-button:active {
    cursor: pointer;
    background-color: rgb(16, 70, 13);
}

table, th, td {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
}

tr {
    height: 2rem;
    padding: 0%;
    margin: 0%;
}

td, td p {
    margin: 0%;
    padding: 0%;
}

tr button {
    background-color: transparent;
    border: none;
}

tr button:hover {
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: rgb(62, 120, 59);
    color: rgb(255, 255, 255);
}

tr:nth-child(odd) button {
    color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
    color: rgb(62, 120, 59);
}

tr:nth-child(even) button {
    color: rgb(62, 120, 59);
}

td {
    text-align: center;
}

#user-list {
    margin-top: 1rem;
}
